body{
    background-color: skyblue;
    font-family: cursive;
}
.nav{
    position: fixed;
    background-color: yellow;
}
.nav .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none;
    color: navy;
    font-size: 34px;
    padding: 65px;

}
.sample{
    background-image: url(blog.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.sample h1{
    font-family: fantasy;
    color: azure;
    font-size: 45px;
    letter-spacing: 2px;
    text-shadow: 4px 5px 6px gold;

}
.sample p{
    font-size: 35px;
    color: snow;
    text-shadow: blue 4px 6px 7px ;
}
a:hover{
    background-color: paleturquoise;
    color: goldenrod;
}
.content h1{
    text-align: center;
    font-size: 45px;
    color: blue;
    text-shadow: 4px 5px 6px black;
}
.content p{
    margin: 30px;
    font-size: 35px;
    letter-spacing: 2px;
    color:azure;
    text-shadow: 4px 5px 6px navy;
    
}